<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book View</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Title: <span th:text="${book.title}"></span></h4>
                <h4>Description: <span th:text="${book.description}"></span></h4>
                <h4>Excerpt: <span th:text="${book.excerpt}"></span></h4>
                <form 
                action="/search/main"
                method="GET">
                            <div class="input-group mb-3"> 
                                <button type="submit" class="btn btn-primary">Back to Search</button>
                            </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>